<a href="https://colab.research.google.com/github/KasinaBanu/AIML_LAB/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
len(days)

7

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [ ]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[8, 5, 7, 3, 2, 1, 6, 4]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [ ]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
"wednesday"in days

True

In [ ]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
"wednesday" not in days

False

In [ ]:
days=["monady","tuesday","wednesday","thursday","friday","saturday","sunady"]
del[days[1]]
days

['monady', 'wednesday', 'thursday', 'friday', 'saturday', 'sunady']

In [ ]:
a=["a","b","c","d"]
print(a)
a.append("e")
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [ ]:
list=["red","orange","blue","green"]
print(list)
list.clear()
print(list)

['red', 'orange', 'blue', 'green']
[]

In [ ]:
nums=[1,2,3,4,5,6,7,9,1,6,3]
print(nums)
nums.count(1)

[1, 2, 3, 4, 5, 6, 7, 9, 1, 6, 3]

2

In [ ]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [ ]:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
a=(5)
print(a)
print(type(a))

5
<class 'int'>

In [ ]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
c=("one","two","three")
c

('one', 'two', 'three')

In [ ]:
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [ ]:
a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
a={
    "name":"joy",
    "age":23,
    "education":"engineer"
  }
print(a)

{'name': 'joy', 'age': 23, 'education': 'engineer'}

In [ ]:
a={
    "name":"joy",
    "age":23,
    "education":"engineer",
    "phone no":7898745555
  }
print(a)

{'name': 'joy', 'age': 23, 'education': 'engineer', 'phone no': 7898745555}

In [ ]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 23), ('education', 'engineer'), ('phone no', 7898745555)])

In [ ]:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
def add():
    a=2
    b=3
    sum=a+b
    return sum
    add()
    print(add())